{% extends "blog/base.html" %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block title %}Blog Macieja Wiatra{% endblock %}</title>

</head>
<body>
{% block content %}




    <section class="title-section">

        <h1>Blog o programowaniu</h1>
        <h2>Maciej Wiatr</h2>

        <div class="title-cfa">
            <button>
                Wpisy
            </button>
            <button>
                YouTube
            </button>

        </div>

    </section>
    <nav class="nav info-nav">
        <a class="nav-link" href="#">
            Najnowszy artykuł:
        </a>
        <a class="nav-link" href="#">
            Najnowszy film:
        </a>
    </nav>
    {% if messages %}
        {% for mess in messages %}

            <div class="alert alert-success">{{ mess }}</div>

        {% endfor %}

    {% endif %}
    <section class="article-section">
        <div class="search-wrapper">
            <form method="GET" , action="">
                <input class="search-box" type="text" name="q" placeholder="Szukaj">
                <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>

    </section>
    <div class="container-fluid">
        <div class="row justify-content-around articles-wrapper">
            {% for post in posts %}
                <div class="card article col-md-3 mt-2">
                    <img class="card-img-top" src="{{ post.image.url }}" alt="Article image">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.text|striptags|safe|truncatewords:20 }}</p>
                        <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Czytaj</a>
                        {% if request.user.is_staff %}
                            <form action="/post/delete/{{ post.slug }}/">
                                <button class="btn btn-danger" type="submit">Delete post</button>
                            </form>
                            <form action="/post/update/{{ post.slug }}/">
                                <button class="btn btn-success" type="submit">Update post</button>
                            </form>
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
        </div>


    </div>





{% endblock %}


</body>
