{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static "blog/img/favicon.ico" %}"/>
    <meta charset="UTF-8">
    <title>Blog Macieja Wiatra</title>
    <link rel="stylesheet" href="{% static "blog/css/style.css" %}" type="text/css">
</head>
<body>

{% if messages %}
    {% for mess in messages %}

        <div>{{ mess }}</div>

    {% endfor %}

{% endif %}

{% for post in posts %}

    <div class="post">
        <img style="max-width: 100px" src="{{ post.image.url }}" alt="img">
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|striptags|safe|truncatewords:20 }}</p>
        <a href="{{ post.get_absolute_url }}">Detal :)</a>
    </div>

{% endfor %}
</body>
</html>